<nz-layout>
  <nz-content style="margin-top:64px;">

    <div nz-row class="container vh-100 ">
      <div nz-col nzSpan="12" class="pt-3 pb-3">
        <h1> Cloudanalogy Web page design </h1>
        <p > We make modern, awesome and creative design  </p>
        <button nz-button nzType="primary" [nzSize]="large" (click)="showModal()" nzShape="round" class="mr-3"> Contact
          Us </button>
        <button nz-button nzType="primary" (click)="loadOne()" nzShape="round" [nzLoading]="isLoadingOne">wANT hELP?</button>                
        <a href="#"> Find more about Company </a>
      </div>
      <div nz-col nzSpan="12"></div>
    </div>

    <nz-carousel nzAutoPlay>
      <div style="min-height: 90vh; background: rgba(0, 0, 0, 0.603);" nz-carousel-content *ngFor="let index of array">
        <h3>{{ index }}</h3>
      </div>
    </nz-carousel>

    <div nz-row style="background: rgb(163, 157, 157);width:92%;margin: 0 auto;">
      <div nz-col nzSpan="24" nzJustify="space-between" style="padding:4%;">
        <div nz-row>
          <div nz-col nzSpan="12" nzOffset="6">
            <h2>  </h2>
            <nz-progress [nzPercent]="10"></nz-progress>
          </div>
        </div>
      </div>      
    </div>

  </nz-content>
</nz-layout>

<!-- <app-model-form></app-model-form> -->
