<div class="container page-wrapper">
  <div class="card card-main">
      <h2 class="text-center">Fill the details to login:</h2>
      <br>
      <form [formGroup]="profileForm" (ngSubmit)="onLogin()">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="pswd">
          <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>